@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*Universal Css Styles*/
body {
	margin: 0 auto;
	padding: 0;
	background: #ecf0f1;
}
						/*Navigation Bar*/
.bigNav {
	height: 100px;
	padding: 0;
	text-align: center;
	transition:0.5s;
	bottom: 0; 
	position: absolute;
	width: 100%;
}
.bigNav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.bigNav ul li {
	display: inline-block;
	padding: 30px;
	margin: 0 auto;
}
.bigNav ul li a {
margin: 0 auto;
text-decoration: none;
color: #fff;
font-size: 28px;
font-family: 'Oswald', sans-serif;
}
.bigNav img {
	width: 10%;
	height: 60px;
	float: left;
	margin-right: -70px;
}

.mobileNav img{
	width: 30%;
	height: 60px;
	float: none;
	margin: 0 auto;
	}
#ham {
	float: left;
	color: #fff;
	margin:20px 20px;
	margin-right: 0px !important;
	cursor: pointer;
}
#close {
	float: left;
	color: #fff;
	margin:20px 20px;
	margin-right: 0px !important;
	cursor: pointer;
}
.slideInMenu {
	 position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    background: red;
  }
.slideInMenu ul {
	padding: 0;
	list-style: none;
	text-align: center;
	margin-top: 40%;
}
.slideInMenu ul li {
	padding-bottom: 30px;
	}

.slideInMenu ul li a {
margin: 0 auto;
text-decoration: none;
color: #fff;
font-size: 28px;
font-family: 'Oswald', sans-serif;
}
.fixed-header {
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  width: 100%; 
  height: 60px;
  font-size: 20px;
  background:rgba(44,44,44,0.8);
}
.fixed-header ul {
	margin-left: -25px;
}
.fixed-header ul li {
	padding: 15px;
	float: none;
	font-size: 22px;
}
.fixed-header ul li a {
		font-size: 22px;
}
.shopNavBar {
	width: 80%;
 	position: fixed;
 	top:0; 
 	right: 0;
  	z-index: 1000;
  	height: 80px;
  	font-size: 20px;
  	background:rgba(44,44,44,0.8);
	margin: 0 auto;
	padding: 0;
	text-align: center;
	}
.shopNavBar ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.shopNavBar ul li {
	display: inline-block;
	padding: 20px;
	margin: 0 auto;
}

.shopNavBar ul li a {
margin: 0 auto;
text-decoration: none;
color: #fff;
font-size: 24px;
font-family: 'Oswald', sans-serif;
}

					/*Universal Footer*/
.footer{
	background: #2c2c2c;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	float: left;
	padding: 0;
}
.leftFooterLinks {
	width: 40%;
	height: 200px;
	float: left;
}
.leftFooterLinks ul {
 list-style: none;
 margin: 0 auto;
 padding: 15px 30px;
 float: left;
}
.leftFooterLinks ul li {
	padding: 10px 30px;
}

.leftFooterLinks ul li:hover {
	color:red;
}
.leftFooterLinks a {
	text-decoration: none;
	color: #E5F0C5;
	font-family: 'Oswald';
}
.rightFooterLinks {
	width: 60%;
	height: 200px;
	background: url('../img/banner.gif');	
	background-size: 800px 200px;
	float: right;
}
.footerTagLines{
	float: left;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	margin: 0 auto;
	color: #fff;
	height: 100px;
	width: 100%;
}
.footerTagLines p {
	padding: 20px;
}



/*Home Page Styles*/
.mainBanner {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 620px;
	background-size: cover;
	color: #fff;
	text-align: center;
	margin-bottom: -19px;
}
.mainBanner video {
   position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%); 
}
.mainBanner img{
padding: 15% 15% 0% 15%;
}
.mainBanner i {
	display: block;
	padding: 0;
	font-size: 20px;
}
.mainBanner a {
	color: #fff;
	text-decoration: none;
}
#mc {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	float: right;
	background:#2c2c2c;
}
#mc img {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	padding: 40px 80px;
}
#fragnance {
	background: url('../img/perfume.jpg');
	/*background-size: 500px 300px;*/
	background-position: left;
}
#clothes {
	background: url('../img/clothes.jpeg');
	/*background-size: 500px 300px;*/
	background-position: left;	
}
.items {
	width: 33%;
	height: 300px;
	float: left;
	background-size: contain;
}
.items h1 {
	color: #FFF;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 30%;	
}

/*Universal Left & Right*/
.left {
	float: left;
	width: 45%;
	background:red;
	height: 500px;
	margin-left: 45px;
}
.right {
	float: right;
	width: 45%;
	background:green;
	height: 500px;
	margin-right: 45px;
	}

/*Men & Women Section Styling*/
.men {
	background: url("../img/men.jpeg");
	background-size: contain;
	background-attachment: fixed;
	}
.women {
	background: url("../img/women.jpeg");
	background-size: cover;
	background-attachment: fixed;
	}
.men a{
		text-decoration: none;
		color: #fff;
		text-align: center;
	}
.women a{
		text-decoration: none;
		color: #fff;
		text-align: center;
	}
.women h1 {
	margin: 35%;
	border: 3px solid #fff;
}
.men h1 {
	margin: 35%;	
	border: 3px solid #fff;
}
/*Coco Chanel Quote*/
.container {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	text-align: center;
	float: left;
	margin-top: 100px;
	background: url('../img/sidebar.jpeg');
	background-size: cover;
	}
.overlay {
	margin: 0 auto;
	width: 50%;
	height: 400px;
	padding: 0;
	background:rgba(44,44,44,0.8);
}
.overlay h1{
	padding: 20%;
}

.sectionBanner{
	width: 100%;
	height: 300px;
	float: left;

}
.sectionBanner video {
   position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%); 
}

.content {
	width: 100%;
	height: 900px;
	background: red;
}
/*Shop Styles*/
.sidebar {
	width: 20%;
	float: left;
	height: 700px;
	font-size: 20px;
	color: #ecf0f1;
	font-family: 'Raleway', sans-serif;	
	top:0;
	left: 0;
	background: #2c2c2c;
	position: fixed;
	}
.sidebar h1,h2{
	text-align: center;
}
.sidebar label {
	margin-left: 70px;	
	transition: 0.4s;
	margin-top: 10px;
}

.sidebar label:hover {
	color: #f39c12;
	transition: 0.4s;
}
.rightMainContent {
	float: right;
	background: ;
	height: 1800px;
	width: 80%;
}
/*Responsive Code Starts Here*/
@media screen and (max-width: 480px) {
 .bignNav {
 	margin-top: -150px;
	width: 100%;		
	height: 280px;
}
.bigNav ul {

	margin-top: -60px;
}
.bigNav ul li {
	display: block;
	padding: 15px;
}
.mainbanner{
	height: 400px;
}
.mainBanner img{
padding-left:5%;
padding-top: 53%;
}
.mainBanner video {
   position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 360px;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%); 
}
.bigNav ul li a {
color: #fff;
font-size: 20px;
font-family: 'Raleway', sans-serif;	
}
.left {
	width: 100%;
	margin-left: 0px;
	display: block;
}
.right {
	width: 100%;
	margin-left: 0px;
	display: block;
}

}